.horizontal_halved {
    display: flex;
    justify-content: space-between;
    height: 90%;
}

.vertical {
    height: 100%;
    width: 49%;
    margin: 0;
    text-align: center;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.overn {
    background-color: rgb(255,255,255,0.9);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
}

.params {
    width: 20%;
}

.sidebar {
    width: 78%;
    height: 100%;
}

.myCanvas {
    height: 80%;
    margin-bottom: 0;
    position: fixed;
}