.user {
    background-color: rgb(255,255,255,0.7);
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color:black;
    border: none;
    font-size: 35px;
    width: 60px;
    height: 60px;
    text-align: center;
    
}

.user:hover {
    color: white;
    background-color: black;

}

.logo {
    size: 1000px;
}

.topnav {
    width: 100%;
    overflow: auto;
    display: block;
    position: fixed;
    top: 0;
    text-align: left;
    margin: 10px;
  }

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    text-shadow: 2px 2px 2px black;
}
.topnav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        display: block;
    }
}

html {
    margin: 0;
    height: 100%;
}
body {
    background-image: url("../src/menu_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    text-align: center;
}

.disappears {
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255,255,255,0.9);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color: black;
    text-align: center;
    font-size: 60px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.disappears span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.disappears span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.disappears:hover span {
    padding-right: 25px;
}
  
.disappears:hover span:after {
    opacity: 1;
    right: 0;
}

.appears {
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255,255,255,0.9);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color: black;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    width: 600px;
    margin: 5px;
}

.appears:hover {
    background-color: rgb(0,0,0,0.9);
    color: white;
}
