<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Design Rocket</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rocket-Design">
    <meta name="author" content="Johnny Yammine et Olivier Laurent">
    <link rel="icon" href="../static/src/icon.png">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel ="stylesheet" href="../static/css/main.css">
    <link rel ="stylesheet" href="../static/css/design_rocket.css">
    <link rel ="stylesheet" href="../static/css/compare_rockets.css">
</head>
<form>
    <input type="button" value="Go back!" onclick="history.back()">
  </form>

<body>

    <div class='horizontal_halved'>
        <div class='vertical'>
            <button id="popUpButtonL" class='uk-button uk-button-default overbutton uk-width-3-4 ' uk-toggle="target: #load-toggleL"  type='button'>Load a rocket </button>
            <div class='horizontal overn'>
                <div class='params'>
                    <ul id="accordionL" uk-accordion>
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">General Specifications</a>
                            <div class="uk-accordion-content">
                                Name:
                                <br>
                                <span id="rocketNameL"> </span>
                                <br>
                                Year of first launch:
                                <br>
                                <span id="rocketYearL"> </span>
                                <br>
                                Country:
                                <br>
                                <span id="rocketCountryL"> </span>
                                <br>
                                Mission:
                                <br>
                                <span id="missionL"> </span>
                                <br>
                                Number of stages:
                                <br>
                                <span id="stageNumberL"> </span>
                                <br>
                                Boosters:
                                <br>
                                <span id="boostersL"> </span>
                                <br>
                                Total Height (m):
                                <br>
                                <span id="totalHeightL"> </span>
                                <br>
                                Lift-off Mass (tons):
                                <br>
                                <span id="liftOffMassL"> </span>
                                <br>
                                Payload Mass (kg):
                                <br>
                                <span id="payloadMassL"> </span>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"> First Stage Specifications</a>
                            <div class="uk-accordion-content">
                                Height (m):
                                <br>
                                <span id="stage1HeightL"> </span>
                                <br>
                                Diameter (m):
                                <br>
                                <span id="stage1DiameterL"> </span>
                                <br>
                                Thrust (kN):
                                <br>
                                <span id="stage1ThrustL"> </span>
                                <br>
                                Isp (s):
                                <br>
                                <span id="stage1IspL"> </span>
                                <br>
                                Initial Mass (tons):
                                <br>
                                <span id="stage1M0L"> </span>
                                <br>
                                Propellant Mass (tons):
                                <br>
                                <span id="stage1MpL"> </span>
                                <br>
                                Color:
                                <br>
                                <span id="stage1ColorL"> </span>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"> Booster Specifications</a>
                            <div class="uk-accordion-content">
                                Height (m):
                                <br>
                                <span id="boosterHeightL"> </span>
                                <br>
                                Diameter (m):
                                <br>
                                <span id="boosterDiameterL"> </span>
                                <br>
                                Thrust (kN):
                                <br>
                                <span id="boosterThrustL"> </span>
                                <br>
                                Isp (s):
                                <br>
                                <span id="boosterIspL"> </span>
                                <br>
                                Initial Mass (tons):
                                <br>
                                <span id="boosterM0L"> </span>
                                <br>
                                Propellant Mass (tons):
                                <br>
                                <span id="boosterMpL"> </span>
                                <br>
                                Color:
                                <br>
                                <span id="boosterColorL"> </span>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"> Second Stage Specifications</a>
                            <div class="uk-accordion-content">
                                Height (m):
                                <br>
                                <span id="stage2HeightL"> </span>
                                <br>
                                Diameter (m):
                                <br>
                                <span id="stage2DiameterL"> </span>
                                <br>
                                Thrust (kN):
                                <br>
                                <span id="stage2ThrustL"> </span>
                                <br>
                                Isp (s):
                                <br>
                                <span id="stage2IspL"> </span>
                                <br>
                                Initial Mass (tons):
                                <br>
                                <span id="stage2M0L"> </span>
                                <br>
                                Propellant Mass (tons):
                                <br>
                                <span id="stage2MpL"> </span>
                                <br>
                                Color:
                                <br>
                                <span id="stage2ColorL"> </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="sidebar" class='sidebar'>
                    <div class='nameDiv'>
                    </div>
                    <canvas id='canvasL'></canvas>
                </div>
            </div>
        </div>
        <div class='vertical'>
            <button id="popUpButtonR" class='uk-button uk-button-default overbutton uk-width-3-4 ' uk-toggle="target: #load-toggleR"  type='button'>Load a rocket  </button>
            <div class='horizontal overn'>
                <div class='canvasDiv'>
                    <div class='nameDiv'>
                    </div>
                    <canvas id='canvasR'></canvas>
                </div>
                <div class='params'>
                    <ul id="accordionR" uk-accordion>
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#1">General Specifications</a>
                            <div class="uk-accordion-content">
                                Name:
                                <br>
                                <span id="rocketNameR"> </span>
                                <br>
                                Year of first launch:
                                <br>
                                <span id="rocketYearR"> </span>
                                <br>
                                Country:
                                <br>
                                <span id="rocketCountryR"> </span>
                                <br>
                                Mission:
                                <br>
                                <span id="missionR"> </span>
                                <br>
                                Number of stages:
                                <br>
                                <span id="stageNumberR"> </span>
                                <br>
                                Boosters:
                                <br>
                                <span id="boostersR"> </span>
                                <br>
                                Total Height (m):
                                <br>
                                <span id="totalHeightR"> </span>
                                <br>
                                Lift-off Mass (tons):
                                <br>
                                <span id="liftOffMassR"> </span>
                                <br>
                                Payload Mass (kg):
                                <br>
                                <span id="payloadMassR"> </span>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#1"> First Stage Specifications</a>
                            <div class="uk-accordion-content">
                                Height (m):
                                <br>
                                <span id="stage1HeightR"> </span>
                                <br>
                                Diameter (m):
                                <br>
                                <span id="stage1DiameterR"> </span>
                                <br>
                                Thrust (kN):
                                <br>
                                <span id="stage1ThrustR"> </span>
                                <br>
                                Isp (s):
                                <br>
                                <span id="stage1IspR"> </span>
                                <br>
                                Initial Mass (tons):
                                <br>
                                <span id="stage1M0R"> </span>
                                <br>
                                Propellant Mass (tons):
                                <br>
                                <span id="stage1MpR"> </span>
                                <br>
                                Color:
                                <br>
                                <span id="stage1ColorR"> </span>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#1"> Booster Specifications</a>
                            <div class="uk-accordion-content">
                                Height (m):
                                <br>
                                <span id="boosterHeightR"> </span>
                                <br>
                                Diameter (m):
                                <br>
                                <span id="boosterDiameterR"> </span>
                                <br>
                                Thrust (kN):
                                <br>
                                <span id="boosterThrustR"> </span>
                                <br>
                                Isp (s):
                                <br>
                                <span id="boosterIspR"> </span>
                                <br>
                                Initial Mass (tons):
                                <br>
                                <span id="boosterM0R"> </span>
                                <br>
                                Propellant Mass (tons):
                                <br>
                                <span id="boosterMpR"> </span>
                                <br>
                                Color:
                                <br>
                                <span id="boosterColorR"> </span>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#1"> Second Stage Specifications</a>
                            <div class="uk-accordion-content">
                                Height (m):
                                <br>
                                <span id="stage2HeightR"> </span>
                                <br>
                                Diameter (m):
                                <br>
                                <span id="stage2DiameterR"> </span>
                                <br>
                                Thrust (kN):
                                <br>
                                <span id="stage2ThrustR"> </span>
                                <br>
                                Isp (s):
                                <br>
                                <span id="stage2IspR"> </span>
                                <br>
                                Initial Mass (tons):
                                <br>
                                <span id="stage2M0R"> </span>
                                <br>
                                Propellant Mass (tons):
                                <br>
                                <span id="stage2MpR"> </span>
                                <br>
                                Color:
                                <br>
                                <span id="stage2ColorR"> </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    <div class="over down uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-checkbox" type="checkbox" checked> Show Fairing</label>
        <input id="zoomInput" class="uk-input" type="number" style="width: 20%;" placeholder="Zoom">
        <label><input id="fuelCheckbox" class="uk-checkbox" type="checkbox"> Show fuel</label>
    </div>

    <!-- Pop-ups -->
    <div id="load-toggleL" uk-modal>
        <div class="uk-modal-dialog uk-modal-body"> 
            Select the rocket to load :
            <select id='rocketSelectorL' class="uk-select uk-form-width-medium">                     
            </select>
            <button id="selectButtonL" class='uk-button uk-button-default uk-button-primary'  type='button' onClick=loadNFill_L()> Load </button>
        </div>
    </div>

    <div id="load-toggleR" uk-modal>
        <div class="uk-modal-dialog uk-modal-body"> 
            Select the rocket to load :
            <select id='rocketSelectorR' class="uk-select uk-form-width-medium">                     
            </select>
            <button id="selectButtonR" class='uk-button uk-button-default uk-button-primary'  type='button' onClick=loadNFill_R()> Load </button>
        </div>
    </div>

    <!-- Front scripts -->
    <script src="../static/js/design/main.js"></script>
    <script src="../static/js/compare/main.js"></script>
    <script src="../static/js/compare/front.js"></script>
    <script src="../static/js/compare/specific.js"></script>
    <script src="../static/js/draw.js"></script>

    <!-- UIKIT Theme -->
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</body>
</html>
