<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Design Rocket</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rocket-Design">
    <meta name="author" content="Johnny Yammine et Olivier Laurent">
    <link rel="icon" href="../static/src/icon.png">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel ="stylesheet" href="../static/css/main.css">
    <link rel ="stylesheet" href="../static/css/design_rocket.css">
</head>
<body>
    <!-- Front script -->
    <script src="../static/js/compare/main.js"></script>
    <script src="../static/js/compare/front.js"></script>
    <script src="../static/js/draw.js"></script>
    <!-- UIKIT Theme -->
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</body>
</html>
