<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Design Rocket</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rocket-Design">
    <meta name="author" content="Johnny Yammine et Olivier Laurent">
    <link rel="icon" href="../static/src/icon.png">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel ="stylesheet" href="../static/css/main.css">
    <link rel ="stylesheet" href="../static/css/design_rocket.css">
</head>
    <header></header>
    <body>
        <div class='uk-margin-left page-wrap'>
            <div class="over form">
            <h2>Design your own rocket !</h2>
            <hr />
            <form class="uk-form-horizontal">
                <div class='uk-margin uk-margin-left'>  
                    <button id="popUpButton" class='uk-button uk-button-default' uk-toggle="target: #load-toggle"  type='button'> Start from an existing model :  </button>
                </div>
                <h4>General Information</h4>
                <div class="uk-margin">
                    <label class="uk-form-label" for="rocketName">Name :</label>
                    <input class="uk-input uk-form-width-medium" id="rocketName" type="text" placeholder="Name" name='rocketName' autocomplete="off">
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="rocketYear">Date of the first launch (YYYY):</label>
                    <input id='rocketYear' class="uk-input uk-form-width-small" type='number' min='1940' step='1'></input>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="rocketCountry">Country :</label>
                    <input id='rocketCountry' class="uk-input uk-form-width-medium" type='text'>                      
                </input>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="missionSelect">Mission :</label>
                    <select id='missionSelect' class="uk-select uk-form-width-small">
                        <option value='SUB'>SubOrbital</oprion>
                        <option value='LEO'> LEO </option>
                        <option value='GEO'> GEO </option>           
                    </select>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="stageNumber">Stage Number:</label>
                    <select id='stageNumber' class="uk-select uk-form-width-medium">
                        <option value='1'> One Stage </option>
                        <option value='2'> Two Stages </option>           
                    </select>
                </div> 

                <div class="uk-margin">
                    <label class="uk-form-label" for="boosterSelect">Boosters:</label>
                    <select id='boosterSelect' class="uk-select uk-form-width-medium">
                        <option value='0'> No Boosters </option>
                        <option value='1'> With boosters </option>           
                    </select>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="totalHeight"> Total Height (m):</label>
                    <input class="uk-input uk-form-width-medium" id="totalHeight" type="number" placeholder="Height"  step="0.01" name='totalHeight' autocomplete="off">
                </div> 

                <div class="uk-margin">
                    <label class="uk-form-label" for="liftOffMass">Lift-off mass (tons):</label>
                    <input class="uk-input uk-form-width-medium" id="liftOffMass" type="number" placeholder="Lift-off Mass" name='liftOffMass' autocomplete="off">
                </div>  

                <div class="uk-margin">
                    <label class="uk-form-label" for="payloadMass">Payload mass (tons):</label>
                    <input class="uk-input uk-form-width-medium" id="payloadMass" type="number" placeholder="Payload mass"  step="0.01" name='payloadMass' autocomplete="off">
                </div> 

                <hr />
                <div id='firstStageDiv'>
                    <h4>First stage</h4>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage1Height">Height (m):</label>
                        <input class="uk-input uk-form-width-medium" id="stage1Height" type="number" placeholder="Height"  step="0.01" name='stage1Height' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage1Diameter">Diameter (m)</label>
                        <input class="uk-input uk-form-width-medium" id="stage1Diameter" type="number" placeholder="Diameter"  step="0.01" name='stage1Diameter' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage1Thrust">Thrust (kN):</label>
                        <input class="uk-input uk-form-width-medium" id="stage1Thrust" type="number" placeholder="Thrust"  step="0.01" name='Stage1Thrust' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage1ISP">ISP (s):</label>
                        <input class="uk-input uk-form-width-medium" id="stage1Isp" type="number" placeholder="ISP"  step="0.01" name='stage1ISP' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage1M0">Initial mass (tons):</label>
                        <input class="uk-input uk-form-width-medium" id="stage1M0" type="number" placeholder="Initial mass"  step="0.01" name='stage1M0' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage1Mp">Final mass (tons):</label>
                        <input class="uk-input uk-form-width-medium" id="stage1Mp" type="number" placeholder="Final mass"  step="0.01" name='stage1Mp' autocomplete="off">
                    </div> 

                    <div>
                        <label class="uk-form-label" for="stage1color">Color</label>
                        <input class="uk-form-width-medium" type="color" id="stage1Color" name="stage1color" value="#CCE6FF">
                    </div>
                </div>
                <div id='boosterDiv' style="display: none;">
                    <hr />
                    <h4>Boosters</h4>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="boosterHeight">Height (m):</label>
                        <input class="uk-input uk-form-width-medium" id="boosterHeight" type="number" placeholder="Height"  step="0.01" name='boosterHeight' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="boosterDiameter">Diameter (m)</label>
                        <input class="uk-input uk-form-width-medium" id="boosterDiameter" type="number" placeholder="Diameter"  step="0.01" name='boosterDiameter' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="boosterThrust">Total Thrust (kN):</label>
                        <input class="uk-input uk-form-width-medium" id="boosterThrust" type="number" placeholder="Thrust"  step="0.01" name='boosterThrust' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="boosterIsp">ISP (s):</label>
                        <input class="uk-input uk-form-width-medium" id="boosterIsp" type="number" placeholder="ISP"  step="0.01" name='boosterISP' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="boosterM0">Total Initial mass (tons):</label>
                        <input class="uk-input uk-form-width-medium" id="boosterM0" type="number" placeholder="Initial mass"  step="0.01" name='boosterM0' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="boosterMp">Total Final mass (tons):</label>
                        <input class="uk-input uk-form-width-medium" id="boosterMp" type="number" placeholder="Final mass"  step="0.01" name='boosterMp' autocomplete="off">
                    </div> 

                    <div>
                        <label class="uk-form-label" for="boosterColor">Color</label>
                        <input class="uk-form-width-medium" type="color" id="boosterColor" name="boosterColor" value="#CCE6FF">
                    </div>
                </div>
                <div id='secondStageDiv' style="display: none;">
                    <hr />
                    <h4>Second stage</h4>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage2Height">Height (m):</label>
                        <input class="uk-input uk-form-width-medium" id="stage2Height" type="number" placeholder="Height"  step="0.01" name='stage2Height' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage2Diameter">Diameter (m)</label>
                        <input class="uk-input uk-form-width-medium" id="stage2Diameter" type="number" placeholder="Diameter"  step="0.01" name='stage2Diameter' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage2Thrust">Thrust (kN):</label>
                        <input class="uk-input uk-form-width-medium" id="stage2Thrust" type="number" placeholder="Thrust"  step="0.01" name='stage2Thrust' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage2Isp">ISP (s):</label>
                        <input class="uk-input uk-form-width-medium" id="stage2Isp" type="number" placeholder="ISP"  step="0.01" name='stage2Isp' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage2M0">Initial mass (tons):</label>
                        <input class="uk-input uk-form-width-medium" id="stage2M0" type="number" placeholder="Initial mass"  step="0.01" name='stage2M0' autocomplete="off">
                    </div> 

                    <div class="uk-margin">
                        <label class="uk-form-label" for="stage2Mp">Final mass (tons):</label>
                        <input class="uk-input uk-form-width-medium" id="stage2Mp" type="number" placeholder="Final mass"  step="0.01" name='stage2Mp' autocomplete="off">
                    </div> 

                    <div>
                        <label class="uk-form-label" for="stage2color">Color</label>
                        <input class="uk-form-width-medium" type="color" id="stage2Color" name="stage2color" value="#CCE6FF">
                    </div>
                </div>
                <div class="uk-margin">
                    <button id="addBaseButton" class="uk-button uk-button-primary" type="button" onClick='addRocket()' disabled="">Add to the DataBase</button>
                </div>
                
            </br>
            </form>
            </div>
            
            <div id="sidebar" class="sidebar">
                <canvas id="myCanvas"></canvas>
                <div id='dName'></div>
                <div id='dYear'></div>
                
                <div id="divF" class="over uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-checkbox" type="checkbox" checked> Show Fairing</label>
                    <label><input class="uk-checkbox" type="checkbox"> Show fuel</label>
                </div>
            </div>
        </div>
            
        <!-- Pop-up -->
        <div id="load-toggle" uk-modal>
            <div class="uk-modal-dialog uk-modal-body"> 
                Select the rocket to load :
                <select id='rocketSelector' class="uk-select uk-form-width-medium">                     
                </select>
                <button id="selectButton" class='uk-button uk-button-default uk-button-primary'  type='button' onclick='loadNFill()'> Load </button>
            </div>
        </div>
        <!-- Front script -->
        <script src="../static/js/design/main.js"></script>
        <script src="../static/js/design/front.js"></script>
        <script src="../static/js/draw.js"></script>
        <!-- UIKIT Theme -->
        <script src="../static/js/uikit.min.js"></script>
        <script src="../static/js/uikit-icons.min.js"></script>
    </body>
    <footer></footer>
</html>