<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>Rocket Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Rocket-Design">
        <meta name="author" content="Johnny Yammine et Olivier Laurent">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../static/css/menu_style.css" rel="stylesheet">
        <link rel="icon" href="../static/src/icon.png">
        <link rel="stylesheet" href="../static/css/uikit.min.css" />
        <script type="text/javascript"> if (!window.console) console = {log: function() {}}; </script>
    </head>

    <body>
        <header>            
            <img src="../static/src/menu_logo.png" alt="logo" style="margin: 15px" >
        </header>

        <!--START button that disappers when clicked on-->
        <div id="disappears">
            <button class="disappears" onclick="Start()" style="vertical-align:middle"><span>START</span></button>
        </div>

        <!--modes that appear when START is clicked-->
        <div id="appears" style="display:none">
            <button class="appears" onclick="window.location.href = 'designrocket.html';">Create a rocket</button><br/>
            <button class="appears" onclick="window.location.href = 'compare_rockets.html';">Compare rockets</button><br/>
            <button class="appears" onclick="window.location.href = 'optimizing.html';">Rocket trajectories</button>
        </div>
  
        <script>
            function Start() {
                document.getElementById("disappears").innerHTML = "<br />";
                document.getElementById("appears").style.display = "block";
            }
        </script>        
    </body>
</html>